<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="diplom.Properties.Settings.connectDB" connectionString="Data Source=laptop-1c4dpah3;Initial Catalog=diplomDB;Integrated Security=True" />
        <add name="diplom.Properties.Settings.diplomDBConnectionStringToStats"
            connectionString="Data Source=laptop-1c4dpah3;Initial Catalog=diplomDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>